<configuration scan="true">
	<include resource="org/springframework/boot/logging/logback/base.xml"/>

	<root level="info">
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="FILE"/>
	</root>


	<logger name="cz.lastware.nebudpecka" level="trace"/>
	<logger name="org.springframework.data.jpa.repository" level="trace"/>
	<logger name="org.springframework.web.servlet.DispatcherServlet" level="debug"/>


	<!--debug SQL statements-->
	<!--<logger name="org.hibernate.SQL" level="debug" />-->
	<!--debug SQL arguments-->
	<!--<logger name="org.hibernate" level="trace" />-->

	<!--<logger name="org.springframework" level="debug"/>-->

	<!--<logger name="org.springframework.transaction" level="trace"/>-->
	<!--<logger name="org.springframework.orm" level="debug"/>-->
	<!--<logger name="org.hibernate.engine.transaction" level="debug"/>-->
	<!--show transactions-->
	<!--<logger name="org.springframework.orm.jpa.JpaTransactionManager" level="debug"/>-->

	<!--<logger name="org.springframework.security" level="debug"/>-->

</configuration>
